@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Galaxy Quest</h1>
    <p>Dedicated to Exploring the Planets of Our Galaxy and Beyond!</a>.</p>
</div>
