@model List<Planet>

<h2>Far Far Away Galaxy Planets</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Population</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var planet in Model)
        {
            <tr>
                <td>@planet.Name</td>
                <td>@planet.Population</td>
            </tr>
        }
    </tbody>
</table>